/*
====================
********************Table of Content********************
1. global styles
2. typography
3. ul wraper
====================
*/

/*
====================
1. global styles
====================
*/

:root {
    --primary-dark-color: #242424;
    --primary-light-color: #ffffff;
    --secondary-light-color: #33ff00;
    --secondary-dark-color: #434942;
    --tertiary-light-color: #868686;
    --tertiary-dark-color: #333333;
    --quaternary-light-color: #636363;
}

body {
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
}

/*
2. typography
*/

h1 {
    color: var(--secondary-light-color);
    text-align: center;
    margin: 1em auto 0.5em auto;
    line-height: 1;
}

h2 {
    line-height: 1.3;
    margin: 0.3em auto;
    text-align: center;
}

figure {
    margin: 0.5em auto;
    max-width: max-content;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: 0.7em;
    text-align: right;
}

ul {
    display: block;
    max-width: max-content;
    margin: 0.4em auto;
}

li {
    max-width: 70ch;
    line-height: 1.5;
}

b {
    color: var(--secondary-light-color);
    text-decoration: underline dotted;
    font-size: 1.3em;
}

q {
    color: var(--secondary-light-color);
    background-color: var(--tertiary-dark-color);
    text-decoration: underline dotted;
}
q::before, q::after {
    font-size: 1.4em;
    font-weight: bolder;
}

footer {text-align: center}

a {
    color: var(--secondary-light-color);
}

a[target="_blank"]::after {
    content: " \f35d";
    font-size: 0.9em;
    font-weight: 800;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
}

/*
====================
3. ul wraper
====================
*/

#ul-wraper {
    background-color: var(--secondary-dark-color);
    padding: 1em;
    border-radius: 1em;
}